.main{
    max-width: 900px;
    /* background: #f9f9f9; */
    margin: auto;
    padding-bottom: 100px;
}
.upper{
    width: 100%;
    margin-top: 40px;
}

.appDetails{
    display: flex;
    align-items: center;
}

.appDetails>div{
    margin-left: 20px;
}
.appDetails>div>h2{
    margin-bottom: 8px;
}
.appDetails>div>p{
    margin-top: 0px;
}
.upper img{
    border-radius: 1000px;
    height: 80px;
    width: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

.buttonDownload{
    background-color: rgb(60 36 72);
    width: 180px;
    height: 40px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    box-shadow: rgb(60 36 72) 0 10px 20px -10px;
    box-sizing: border-box;
    margin-left: 20px;
    border: 0;
    margin-top: 20px;
}
.buttonDownload:hover{
    cursor: pointer;
}


.screnshots{
    width: 100%;
    height:auto;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 40px 0;
}

.screen:hover{
    cursor: pointer;
}


.screen img{
    height:500px;
    min-height:500px;
    border-radius: 10px;
    margin-left: 15px;
}

/* .screnshots::-webkit-scrollbar {
    display: none;
  } */

.appDetails-description{
    margin: 20px 20px;
    font-size: 18px;
}
.screenshots::-webkit-scrollbar {
    height: 2px !important;
  }
.aaaa{
    color: green;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.downloadtypes{
    margin: 20px
}